body{
    background-color: #ffffff;
    color: #000000;

    background-image: url(fundo.jpeg);
}
  
  

.titulo{
    width: 70%; 
    text-align: middle;
    color:#000000;
    font-size: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(10, 34, 2, 1);

}


.subtitulo{
    width: 85%;
    padding: 20px, 40px;
    text-align: middle;
    color:#000000;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -10%;
    
  }  
   
.bambu-inicial{
    width: 100%;
    margin-top: -33%;
    height: 970px;
}


